{% extends "layout.html" %}

{% block title %}
    Apology
{% endblock %}

{% block main %}
    <!-- https://memegen.link/ -->
    <h1>You've found a bug!</h1>
    <h2>Enjoy these bug memes while I fix this :)</h2>
    <br></br>
    <h3>me threatenin the bug >:(</h3>
    <img src="static/FOXVSBUG.gif" alt="me analyzing the bug >:(">
    <br></br>
    <h3>u and me looking at the bug like</h3>
    <img src="static/monkebug.gif" alt="u and me looking at the bug like">
    <br></br>
    <h3>me on my 6th hour trying to fix this</h3>
    <img src="static/moremonkebug.gif" alt="me rn">
    <br></br>
    <h3>haha look at this funny panda </h3>
    <img src="static/LOOOLPANDA.gif" alt="LOOOOL PANDA">
    <br></br>
    <h3>me lookin realising i just spent 47minutes looking at pandas</h3>
    <img src="static/panda1.gif" alt="im the real sad panda">

{% endblock %}
