{% extends "layout.html" %}

{% block title %}
    Your Portfolio
{% endblock %}

{% block main %}
<table class="table table-hover table-dark">
    <thead>
      <tr>
        <th scope="col">Symbols</th>
        <th scope="col">Shares</th>
        <th scope="col">Price</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
        {% for row in data %}
        <tr>
            <td>{{ row["symbol"]}}</td>
            <td>{{ row["stocks"]}}</td>
            <td>{{ row["price"]}}</td>
            <td></td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td></td>
            <th scope="1">Curent Amount</th>
            <th scope="1">{{ cash }}</th>
        </tr>
    </tfoot>
  </table>

{% endblock %}
